/*****************************************************************************************
HEADER
*****************************************************************************************/

.block-header {
	background: #fefdf0;
	display: flex;
}

/****Block Logo****/

.block-header .logo,
.block-harder a{
	margin-left: 3rem;
}

/****Block Nav****/

.block-header .nav {
	margin: auto;
}

.block-header .nav a {
	text-transform: uppercase;
	color: #47360b;
	font-size: 1.3rem;
}

.block-header .nav a:not(:last-child) {
	border-right : solid .1rem #47360b;
}

.block-header .nav a:hover {

	text-decoration: underline;
}
	
/****Block Connexion****/

.form-connexion {
	display: flex;
}

.form-connexion form{
	display: flex;
	margin: auto;
	margin-right: 3rem;
}

.form-connexion input, 
.form-connexion .btn-connect {
	margin: 0 .6rem;
}

.form-connexion input {
	background : #fefdf0;
	color: #47360b;
	border: medium 1rem #47360b;
	border-radius: .7rem;
	padding-left: .5rem;
}

.form-connexion .btn-connect {
	background: #fefdf0;
	border: none;
	text-transform: uppercase;
	padding: 0 .5rem;
	font-size: 1.4rem;
}

.form-connexion .btn-connect:hover {
	border-bottom: solid .1rem #47360b;
}