@charset "utf-8";
/* CSS Document */


/*__________________________HOME PAGE_______________________________*/


/*--------------------------------------------------------------------
							BODY
--------------------------------------------------------------------*/

body{
	background: #fefdf0;
}

.titre_caroussel{
	position: absolute;
	left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
	color: #fefdf0;
	font-size: 4rem;
}

.block-center .carousel-control-next-icon{

}

.block-center .suite_page{
	display: flex;
	margin: auto;
}

.block-center .avis_clients{
	text-align: center;
	font-size: xx-large;
}

.block-center .nom_avis{
	margin: 3px;
	color: #fefdf0;
}

.block-center .liste_etoile {
	display: flex;
	padding-left: 15px;
}

.block-center .avis1 img {
	width: 30px;
	margin: auto;
}

.block-center .avis2 img {
	width: 30px;
	margin: auto;
}

.block-center .avis3 img {
	width: 30px;
	margin: auto;
}

.block-center .laisser_avis img {
	width: 30px;
	margin: auto;
	margin-bottom: 25px;
}

.block-center .avis_depo{
	margin: 3px;
	color: #fefdf0;
	font-style: italic;
}

.block-center .avis_general{
	background: #9f897b;
	margin: auto;
	width: 400px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.block-center .texte_avis{
	padding-left: 15px;
}


.block-center .picto{
	display: flex;
	margin: auto;
}

.block-center .liste_picto{
	list-style: none;
	display: flex;

}

.block-center .fabrication{
	margin-right: 30px;
}

.block-center .livraison{
	margin: 20px;
	margin-right: 30px;
}

.block-center .paiement{
	margin: 13px;
	height: 210px;
	margin-right: 30px;
}

.block-center .satisfait{
	margin: 20px;
	height: 170px;
	margin-right: 30px;
}

.block-center .intitule_fab{
	text-align: center;
	margin-right: 30px;
	margin-top: 20px;
}

.block-center .intitule_liv{
	text-align: center;
	margin-right: 30px;
}


.block-center .intitule_paie{
	text-align: center;
	margin-right: 30px;
	margin-top: -15px;
}


.block-center .intitule_sati{
	text-align: center;
	margin-right: 30px;
	margin-top: 13px;
}




/*--------------------------------------------------------------------
							FOOTER
--------------------------------------------------------------------*/


.block-footer .inner{
	background: #fefdf0;
	display: flex;
	margin: auto;
}

.block-footer .inner .contact {
	display: flex;
	margin: auto;
	text-align: center;
}

.block-footer .inner .social{
	display: flex;
	margin: auto;
}

.block-footer .inner .social li{
	list-style: none;
	display: flex;
	margin: auto;
}

.block-footer .inner .social img {
	width: 60px;
	display: flex;
	margin: auto;
}

.block-footer .inner .social .liste{
	display: flex;
	margin: auto;

}

.block-footer .inner .mentions {
	display: flex;
	margin: auto;
}


/*__________________________PERSONNALISATION_______________________________*/


/*--------------------------------------------------------------------
							BODY
--------------------------------------------------------------------*/

.block-center1 {
	background: url(../images/fondpageperso.png);
	height: 80vh;
	display: flex;
	margin: auto;
	background-size: cover;
	background-attachment: fixed;
}

.block-center1 .container{
	margin: auto;
}

.block-center1 .box{
	background: url(../images/fond.png);
}

.block-center1 .box_photo{
	display: flex;
}

.block-center1 .titre {
	display: flex;
}

.block-center1 .titre h1{
	display: flex;
	margin: auto;
	padding: 2rem;
	text-align: center;
}

.block-center1 .texte_box{
	background: url(../images/guit1.png);
	background-size: auto 100%;
	transition: background-size .2s ease-out;
	height: 300px;
	width: 100%;
	margin: auto;
	display: flex;
}

.block-center1 .mini_box_2 .texte_box{
	background: url(../images/guit2.png);
	background-size: auto 100%;
}

.block-center1 .mini_box_3 .texte_box{
	background: url(../images/guit3.png);
	background-size: auto 100%;
}

/* Effectuer en JS !! */

/*.block-center1 .texte_box:hover{
	background-size: auto 110%;
}

.block-center1 .mini_box_2 .texte_box:hover{
	background-size: auto 110%;
}

.block-center1 .mini_box_3 .texte_box:hover{
	background-size: auto 110%;
}*/


.block-center1 .mini_box{
	width:calc(100%/3);
	padding: 2rem;
}

.block-center1 .mini_box .texte{
	color: #fefdf0;
	font-size: 3rem;
	margin: auto;
	transform: rotate(320deg);
}

/*__________________________SIGNIN______________________________________*/


/*--------------------------------------------------------------------
							BODY
--------------------------------------------------------------------*/

.block_center2{
	height: 80vh;
	display: flex;
	font-size: 25px;
}

.submit_inscritpion {
	background: #47360b;
    color: #fefdf0;
    border: #fefdf0;
    border-radius: 5px;
}

.block_center2 .button{
	text-align: right;
}

.block_center2 .container{
	width: 60%;
	margin: auto;
}

/*****************************************************************************************
HEADER
*****************************************************************************************/

.block-header {
	background: #fefdf0;
	display: flex;
}

/****Block Logo****/

.block-header .logo,
.block-harder a{
	margin-left: 3rem;
}

/****Block Nav****/

.block-header .nav {
	margin: auto;
}

.block-header .nav a {
	text-transform: uppercase;
	color: #47360b;
	font-size: 1.3rem;
}

.block-header .nav a:not(:last-child) {
	border-right : solid .1rem #47360b;
}

.block-header .nav a:hover {

	text-decoration: underline;
}

/****Block Connexion****/

.form-connexion {
	display: flex;
}

.form-connexion form{
	display: flex;
	margin: auto;
	margin-right: 3rem;
}

.form-connexion input,
.form-connexion .btn-connect {
	margin: 0 .6rem;
}

.form-connexion input {
	background : #fefdf0;
	color: #47360b;
	border: medium 1rem #47360b;
	border-radius: .7rem;
	padding-left: .5rem;
}

.form-connexion .btn-connect {
	background: #fefdf0;
	border: none;
	text-transform: uppercase;
	padding: 0 .5rem;
	font-size: 1.4rem;

}

.form-connexion .btn-connect:hover {
	text-decoration: underline;
}

.form-connexion .btn-connect-1{
	background: #fefdf0;
	border: none;
	padding: 0 .5rem;
	font-size: 1rem;
	color: black;
	margin-top: .5rem;
}

/*****************************************************************************************
G.PHOTOS
*****************************************************************************************/

.inner-photos {
	background-image: url('../images/externeSwann/wood-_texture3177.jpg');
}

.inner-photos .title {
	color: white;
	padding: 2rem;
	font-weight: bolder;
}

.carousel-inner .row .img-1 {
	margin: 1rem 0;
	display: flex;
	padding-top: 1rem;
	padding-bottom: 8rem;
}

.row .img-1 .card {
	width: 20rem;
	margin: auto;
}

.row .img-1 .card > img {
	height: 22rem;
}

.img-1 .card .card-body {
	display: flex;
}

.card .card-body .item-photo {
	background: none;
	border: none;
	margin: auto;
}

.img-1 .card .card-body ul{
	display: flex;
	width: 100%;
	padding: 0;
	margin-bottom: 0;
}

.img-1 .card .card-body li{
	list-style: none;
	display: inline-block;
	margin: auto;
}

.carousel-control {
	margin: 0 -3rem;
}


/*****************************************************************************************
PANIER
*****************************************************************************************/

.container-panier {
	background: url('../images/background/forêt.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
}


.container-panier .inner-panier {
	margin: 5% auto;
	background: rgba(253, 254, 240, 0.7);
	width: 40%;
}

.container-panier .inner-panier .list-panier li {
	display: flex;
	align-items: flex-start;
}

.container-panier .inner-panier .scroll {
	min-height: 20rem;
}

.container-panier .inner-panier .list-panier img {
	width: 10%;
	margin: auto 0 ;
}

.inner-panier .list-panier .text {
	margin: auto;
	display: flex;
	flex-direction: column;
}

.container-panier .inner-panier .list-panier h4,
.container-panier .inner-panier .list-panier h5  {
	text-transform: uppercase;
	color: #47360b;
	margin: auto;
}

.container-panier .inner-panier .list-panier h4 {
	margin-bottom: 1rem;
}

.inner-panier .list-panier .right {
	display: flex;
	flex-direction: column;
	margin: auto 0;
}

.inner-panier .list-panier .right a {
	width: 130%;
	margin: 1rem 0 0 1rem;
}

.list-panier .right .prix-article {
	background: #47360b;
	color: #fefdf0;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: .5rem 1rem;
	margin: 1.5rem 1.5rem 0 0;
	display: flex;
}

.list-panier .right .prix-article p {
	margin: auto
}

.container-panier .inner-panier .prix-total {
	display: flex;
	align-content: flex-end;
	justify-content: space-between;
}

.inner-panier .prix-total .prix-title {
	background: #47360b;
	color: #fefdf0;
	text-align: center;
	text-transform: uppercase;
	margin: 0 .5rem 0 auto;
	padding: 0 1rem;

	font-size: 2rem;
	display: flex;
}

.inner-panier .prix-total .prix-title p{
	margin: auto;
}

.inner-panier .prix-total .affichage-prix {
	color: #47360b;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto 0 .5rem;
	padding: 0 1rem;
	font-size: 2rem;
	border: solid .05rem #47360b;
	display: flex;
}

.inner-panier .prix-total .affichage-prix p {
	margin: auto;
}

.container-panier .inner-panier .command-button {
	display: flex;
}

.container-panier .inner-panier .commander {
	margin: 1rem auto;
	padding: 0;
	border: none;
	background: none;
	text-transform: uppercase;
	color: #47360b;
	font-size: 2rem;
}

/*****************************************************************************************
LISTE
*****************************************************************************************/

.list-container {
	background: url('../images/externeSwann/wood-texture.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

.list-container .list-inner {
	background: rgba(253, 254, 240, 0.7);
	margin: 0 15%;
}


.list-container .list-inner .choix {
	margin: 1rem auto;
}

.list-inner .choix .text {
	display: flex;
	flex-direction: column;
}

.list-inner .choix .text h3,
.list-inner .choix .text p,
.choix .text .prix {
	margin: auto;
}

.list-container .list-inner .choix {
	display: flex;
	flex-direction: column;
}

.list-inner	.choix .image-choix {
	display: flex;
	margin: auto;
}

.choix .image-choix img{
	width: 13rem;
	margin: auto;
}

.choix .text a{
	margin: auto;
	text-align: center;
	text-decoration: none;
	color: #47360b;
}

.choix .text a:hover {
	color: black;
}

.choix .prix {
	font-size: 2rem;
	color: #47360b;
}

/*****************************************************************************************
ADRESSE
*****************************************************************************************/

.container-adresse {
	background: url('../images/background/fond adresse.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
}

.container-adresse .inner-adresse {
	margin: 5% auto;
	background: rgba(253, 254, 240, 0.7);
	display: flex;
	width: 40%;
	height: 64vh;
}

.container-adresse .inner-adresse .element {
	margin: auto;
	padding: 1rem 10rem 1rem 1rem;
	display: flex;
}

.container-adresse .inner-adresse form {
	margin: auto;
}

.container-adresse .inner-adresse label {
	text-transform: uppercase;
	color: #47360b;
	font-size: 1.4rem;
	display: flex;
	width: 10rem;
}

.container-adresse .inner-adresse input {
	border-top: none;
	border-left: none;
	border-bottom: solid .1rem #47360b;
	border-right: solid .1rem #47360b;
	background: none;
	color: #47360b;
	width: 29rem;
}

.container-adresse .inner-adresse small {
	text-transform: uppercase;
	color: #47360B;
	font-size: 1rem;
}

.container-adresse .inner-adresse .confirmer {
	border: none;
	background: none;
	text-transform: uppercase;
	color: #47360b;
	padding: 0 .5rem;
	font-size: 1.7rem;
	margin: auto;
	margin-right: 0;
}

.container-adresse .inner-adresse .confirmer:hover {
	text-decoration: underline;
}
/*****************************************************************************************
POP UP réseaux sociaux
*****************************************************************************************/

.social .box {
}

.social .button .logo_social_network{
  width: 60px;
}
.social .button .logo_social_network:hover {
	width: 65px;
}

.social .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.social .overlay:target {
  visibility: visible;
  opacity: 1;
}

.social .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.social .popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.social .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.social .popup .close:hover {
  color: #06D85F;
}
.social .popup .content {
  max-height: 30%;
  overflow: auto;
}


@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


/*****************************************************************************************
PAIEMENT
*****************************************************************************************/

.container-paye {
	background: url('../images/background/fond recap.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	height: 64vh;
}

.container-paye .inner-paye {
	margin: 5% auto;
	background: rgba(253, 254, 240, 0.7);
	display: flex;
}

.container-paye .inner-paye .element {
	margin: auto;
	padding: 1rem;
	display: flex;
}

.container-paye .inner-paye form {
	margin: auto;
}

.container-paye .inner-paye label {
	text-transform: uppercase;
	color: #47360b;
	font-size: 1.4rem;
	display: flex;
	width: 14rem;
}

.container-paye .inner-paye input {
	border-top: none;
	border-left: none;
	border-bottom: solid .1rem #47360b;
	border-right: solid .1rem #47360b;
	background: none;
	color: #47360b;
	width: 29rem;
}

.container-paye .inner-paye small {
	text-transform: uppercase;
	color: #47360B;
	font-size: 1rem;
}

.container-paye .inner-paye .element {
	border: none;
	background: none;
	text-transform: uppercase;
	color: #47360b;
	padding: 0 .5rem;
	font-size: 1.7rem;
	margin: auto;
	margin-right: 0;
}

.container-paye .inner-paye .security {
	text-align: right;
	margin-right: 2rem;
}

.container-paye .inner-paye .confirmer {
	margin-right: 1rem;
	padding: 0;
	border: none;
	background: none;
	text-transform: uppercase;
	color: #47360b;
	font-size: 2rem;
}

.container-paye .inner-paye .confirmer:hover {
	text-decoration: underline;
}

.container-paye .inner-paye .security {
	margin: 0 auto;
}

/*__________________________Notre Histoire_______________________________*/


/*--------------------------------------------------------------------
							BODY
--------------------------------------------------------------------*/
.container-histoire{
	background-image: url(../images/background/bg.jpg);
	display: flex;
	background-attachment: fixed;
}

.fond{
	background: #5c3e31;
	color: #fefdf0;
	width: 110vh;
	opacity: 0.75;
	display: flex;
	margin: auto;
}

.zone_texte{
	padding: 30px;
}

.zone_texte p{
	font-size: 14px;
}

.zone_texte hr {
	background-color: #fefdf0;
}


/*****************************************************************************************
PERSONNALISER
*****************************************************************************************/

.container-menu {
	display: flex;
	margin-left: 0;
	width: 60%;
}

.container-menu .block-nav {
	width: 15%;
	margin: auto;
}

.container-menu .block-nav a {
	color: #47360b;
	text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background: #47360b;
	color: #fefdf0;
	padding: .5rem 0;
}

.container-menu .tab-content {
	width: 30%;
	background: red;
	margin: auto;
	margin-left: 0;
}

/*****************************************************************************************
PAIEMENT
*****************************************************************************************/

.container-paiement {
	background: url('../images/background/paiement fond.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
}

.container-paiement .interrog {
	width : 2rem;
	margin: auto 1rem;;
}

.container-paiement .interrog:hover {
	width: 2.2rem;
}

.container-paiement .second input{
	width: 90%;
}


/*--------------------------------------------------------------------
							DETAIL PRODUIT 
--------------------------------------------------------------------*/


.container_detail {
	background : #fefdf0;
}

.container_detail .total_page {
	
}

.container_detail .total_page .photo_ens img {
	width: 10%;
	height: 10%;
}

