@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------------
							BODY
--------------------------------------------------------------------*/


/*--------------------------------------------------------------------
							FOOTER
--------------------------------------------------------------------*/


.block-footer .inner{
	background: #fefdf0;
	display: flex;
	margin: auto;
}

.block-footer .inner .contact {
	display: flex;
	margin: auto;
	text-align: center;
}

.block-footer .inner .social{
	display: flex;
	margin: auto;
}

.block-footer .inner .social li{
	list-style: none;
	display: flex;
	margin: auto;
}

.block-footer .inner .social img {
	width: 60px;
	display: flex;
	margin: auto;
}

.block-footer .inner .social .liste{
	display: flex;
	margin: auto;
	
}

.block-footer .inner .mentions {
	display: flex;
	margin: auto;
}